<!-- <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Flight Booking">
  <test name="ChromeBrowser Test">
  	<classes>
  		<class name="com.runnerfile.test.TestRunner"></class>
  	</classes>
  </test>
  
   <test name="SafariBrowser Test">
  	<parameter name="browser" value="safari"></parameter>
  	<classes>
  		<class name="com.runnerfile.test.TestRunner"/>
  	</classes>
  </test> 
  
</suite> Suite
 -->
